html {
  height: 100%;
}

body {
  height: 100%;
  background-image: linear-gradient(to bottom right, #22186e, #020021);
  color: white;
  font-family: 'Akshar', sans-serif;
}

body main img {
  height: 600px;
}

body main div .border-primary-subtle {
  border-color: #b13ceb !important;
}

.form-login {
  background-image: linear-gradient(to bottom right, #4a3a98, #160f6a);
}

.form-control::placeholder {
  color: white;
  opacity: .5;
}

.btn-primary {
  width: 125px;
  background-image: linear-gradient(to right, #a839e8, #561dcd);
  font-size: 20px;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
  border-color: white;
  transition: all 600ms ease;
}

.btn-primary:hover {
  transition-duration: 100ms;
  background: white;
  border-color: white;
  color: #561dcd;
}