:root {
  --img-border: #b13ceb;
  --login-bg-color1: #4a3a98;
  --login-bg-color2: #160f6a;
  --btn-primary-bg-color1: #a839e8;
  --btn-primary-bg-color2: #561dcd;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-image: url(Assets/Imgs/background.png);
  color: white;
  font-family: 'Akshar', sans-serif;
}

#login-img {
  height: 600px;
}

#acc-area {
  height: 580px;
}

#login-img {
  border-color: var(--img-border) !important;
}

@media (max-width: 991.98px) {
  #login-img {
    border-color: transparent !important;
  }
}

.form-login {
  background-image: linear-gradient(to bottom right, var(--login-bg-color1), var(--login-bg-color2));
  background-size: cover;
}

.form-control::placeholder {
  color: white;
  opacity: .5;
}

.btn-primary {
  width: 125px;
  background-image: linear-gradient(to right, var(--btn-primary-bg-color1), var(--btn-primary-bg-color2));
  font-size: 20px;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
  border-color: white;
  transition: all 600ms ease;
}

.btn-primary:hover {
  transition-duration: 100ms;
  background: white;
  border-color: white;
  color: var(--btn-primary-bg-color2);
}